.hmmok{
    /* margin-top:20px; */
    background:rgba(255, 221, 169, 0.821);
    max-height: 200%;
    }
    .link-p {
    display: block;
    min-height: 250px;
    height: auto;
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    }
    /* TABLES */
    .table {
    border-collapse: separate;
    margin-top: 30px;
    }
    .td-qty{
        text-align: center;
    }
    .table-hover > tbody > tr:hover > td,
    .table-hover > tbody > tr:hover > th {
    background-color: rgb(255, 255, 255);
    }
    .table thead > tr > th {
    border-bottom: 1px solid #C2C2C2;
    padding-bottom: 0;
    }

    @media (min-width: 992px){
.col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
    margin-left: 17rem;
}
    }
    .title{
        text-align: center;
        padding-top: 5rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: red;
    }   
    .btn-group{
        margin-left: 15rem;
    }
    .hello{
        width:20rem
    }

    .btn-group-vertical>.btn, .btn-group>.btn {
        position: relative;
        flex: 1 1 auto;
        width: 13rem;   
    }

    .table tbody > tr > td {
    font-size: 1.28em;
    background: #ffffff92;
    border-top: 10px solid #fff;
    vertical-align: middle;
    padding: 24px 48px;
    }
    .table tbody > tr > td:first-child,
    .table thead > tr > th:first-child {
    padding-left: 20px;
    }
    .table thead > tr > th span {
    border-bottom: 2px solid #C2C2C2;
    display: inline-block;
    padding: 0 5px;
    padding-bottom: 5px;
    font-weight: normal;
    }
    .table thead > tr > th > a span {
    color: #344644;
    }
    .table thead > tr > th > a span:after {
    content: "\f0dc";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 5px;
    font-size: 0.75em;
    }
    .table thead > tr > th > a.asc span:after {
    content: "\f0dd";
    }
    .table thead > tr > th > a.desc span:after {
    content: "\f0de";
    }
    .table thead > tr > th > a:hover span {
    text-decoration: none;
    color: #2bb6a3;
    border-color: #2bb6a3;
    }
    .table-responsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin-top: 6rem;
    }
    .table.table-hover tbody > tr > td {
    -webkit-transition: background-color 0.15s ease-in-out 0s;
    transition: background-color 0.15s ease-in-out 0s;
    }
    .table tbody tr td .call-type {
    display: block;
    font-size: 0.75em;
    text-align: center;
    }
    .table tbody tr td .first-line {
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.125em;
    }
    .table tbody tr td .first-line span {
    font-size: 0.875em;
    color: #969696;
    font-weight: 300;
    }
    .table tbody tr td .second-line {
    font-size: 0.875em;
    line-height: 1.2;
    }
    .table a.table-link {
    margin: 0 5px;
    font-size: 1.125em;
    }
    .table a.table-link:hover {
    text-decoration: none;
    color: #2aa493;
    }
    .table a.table-link.danger {
    color: #fe635f;
    }
    .table a.table-link.danger:hover {
    color: #dd504c;
    }
    .table-products tbody > tr > td {
    background: none;
    border: none;
    border-bottom: 1px solid #ebebeb;
    -webkit-transition: background-color 0.15s ease-in-out 0s;
    transition: background-color 0.15s ease-in-out 0s;
    position: relative;
    }
    .table-products tbody > tr:hover > td {
    text-decoration: none;
    background-color: #ffffff;
    }
    .table-products .name {
    display: block;
    font-weight: 600;
    padding-bottom: 7px;
    }
    .table-products .price {
    display: block;
    text-decoration: none;
    width: 50%;
    float: left;
    font-size: 0.875em;
    }
    .table-products .price > i {
    color: #8dc859;
    }
    .table-products .warranty {
    display: block;
    text-decoration: none;
    width: 50%;
    float: left;
    font-size: 0.875em;
    }
    .table-products .warranty > i {
    color: #f1c40f;
    }
    .table tbody > tr.table-line-fb > td {
    background-color: #9daccb;
    color: #262525;
    }
    .table tbody > tr.table-line-twitter > td {
    background-color: #9fccff;
    color: #262525;
    }
    .table tbody > tr.table-line-plus > td {
    background-color: #ffffff;
    color: #262525;
    }
    .table-stats .status-social-icon {
    font-size: 1.9em;
    vertical-align: bottom;
    }
    .table-stats .table-line-fb .status-social-icon {
    color: #556484;
    }
    .table-stats .table-line-twitter .status-social-icon {
    color: #5885b8;
    }
    .table-stats .table-line-plus .status-social-icon {
    color: #a75d54;
    }
 
 
 